/* is the way to comment in CSS
can be mulit-line */

/* *{} applies style to the whole doc be careful auto commenting can get fucky */

/* USE Classes to sytle CSS */

.main-title {
    background: rgba(255, 96, 158, 0.671);
}

.fancy-font, .navbar {
    font-family: 'Roboto Mono', monospace;
    color: rgb(57, 177, 204);
}

